<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echoesnet.multiprocesselixir">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".ElixirService"
            android:enabled="true"
            android:exported="true"
            android:process="com.echoesnet.elixir.aidl.service" />

    </application>

</manifest>